@import './base.css';
@import './transition.css';
@import './nprogress.css';
#app {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-weight: normal;
}
a {
  text-decoration: none;
  transition: 0.4s;
}
@media (hover: hover) {
  a:hover {
    /* TODO 换个好看的 hover 效果 */
    background-color: hsla(160deg, 100%, 37%, 0.2);
  }
}
